<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Add Notes</title>
    <style>
            .box {
                 background-color: #798cd7;
            }
            .design-table {
                border-collapse: collapse;
                margin: 25px 0;
                margin-left: 600px;
                font-size: 20px;
                min-width: 400px;
            }   
            .design-table td {
                padding: 12px 15px;
            }
            .design-table tbody tr {
                border-bottom: 1px solid#000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
            }
            .design-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }
            .design-table tbody tr:last-of-type {
                border-bottom: 2px solid #c7dfda;
            }
    </style>
  </head>
  <body class='box'>  
    <div class="design-table" >
        <a href="add-note" type="button" class="active btn" margin="600px">Add Note</a>
        <a href="/lab-4/" type="button" class="active btn" margin="600px">Table of Note</a>
        <a href="note-list" type="button" class="active btn" margin="600px">Card Notes</a>
    </div>
  <br><br>
    <table class="design-table">
      <tr style="background-color:#5688e6">
        <th style="text-align: center; color: #f3f3f3;" >To</th>
        <th style="text-align: center; color: #f3f3f3">From</th>
        <th style="text-align: center; color: #f3f3f3">Title</th>
        <th style="text-align: center; color: #f3f3f3">Message</th>
      </tr>
		      {% for note in notes %}
    <tr>
	    <td>{{ note.to }}</td>
      <td>{{ note.fromm }}</td>
      <td>{{ note.title }}</td>
      <td>{{ note.message }}</td>
		</tr>
		    {% endfor %}
    </table>
  </body>
</html>