<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="7">
      <tr>
        <th style="padding: 7px;">Name</th>
        <th style="padding: 7px;">NPM</th>
        <th style="padding: 7px;">DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
		{% for person in friends %}
    <tr>
	    <td style="padding: 7px;">{{ person.name}}</td>
      <td style="padding: 7px;">{{ person.npm}}</td>
      <td style="padding: 7px;">{{ person.dob}}</td>
		</tr>
		{% endfor %}
	{% endif %}
    </table>
  </body>
</html>