<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="7">
      <tr>
        <th style="padding: 7px;">To</th>
        <th style="padding: 7px;">From</th>
        <th style="padding: 7px;">Title</th>
        <th style="padding: 7px;">Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if note %} 
		{% for person in note %}
    <tr>
	    <td style="padding: 7px;">{{ person.to}}</td>
      <td style="padding: 7px;">{{ person.fromm}}</td>
      <td style="padding: 7px;">{{ person.title}}</td>
      <td style="padding: 7px;">{{ person.message}}</td>
		</tr>
		{% endfor %}
	{% endif %}
    </table>
  </body>
</html>
