<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="7">
      <tr>
        <th style="padding: 7px;">Name</th>
        <th style="padding: 7px;">NPM</th>
        <th style="padding: 7px;">DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
		{% for person in friends %}
    <tr>
			<td style="padding: 7px;">{{ person.name}}</td>
      <td style="padding: 7px;">{{ person.npm}}</td>
      <td style="padding: 7px;">{{ person.DOB}}</td>
		</tr>
		{% endfor %}
	{% endif %}

      <!-- EXAMPLE SECTION
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr> -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
